/* SPDX-FileCopyrightText: 2026 Nikolay Govorov
 * SPDX-License-Identifier: AGPL-3.0-or-later */

.diffstat {
    border: solid 1px var(--color-neutral-400);
    background: var(--color-neutral-100);
}

.diffstat-header {
    font-weight: bold;
}

.diffstat th {
    font-weight: normal;
    text-align: left;
    text-decoration: underline;
    padding: .1em 1em .1em .1em;
}

.diffstat td {
    padding: .2em .2em .1em .1em;
    border: none;
}

.mode {
    white-space: nowrap;
}

.modechange {
    padding-left: 1em;
    color: var(--color-red-500);
}

.add a {
    color: var(--color-green-600);
}

.del a {
    color: var(--color-red-500);
}

.upd a {
    color: var(--color-blue-500);
}

.right {
    text-align: right;
}

.graph {
    width: 500px;
    vertical-align: middle;
}

.diffstat-summary {
    color: var(--color-neutral-500);
}

.ssdiff {
    width: 100%;
}

.ssdiff td {
    font: 75% var(--font-family-mono);
    white-space: pre;
    padding: 1px 4px;
    border-inline: solid 1px var(--color-neutral-400);
}

.ssdiff .add {
    color: var(--color-neutral-900);
    background: var(--color-green-100);
    min-width: 50%;
}

.ssdiff .del {
    color: var(--color-neutral-900);
    background: var(--color-red-100);
    min-width: 50%;
}

.ssdiff .lineno {
    color: var(--color-neutral-900);
    background: var(--color-neutral-100);
    text-align: right;
    width: 3em;
    min-width: 3em;
}

.ssdiff .hunk {
    color: var(--color-neutral-900);
    background: var(--color-blue-100);
    border-block: solid 1px var(--color-neutral-400);
}

.head {
    font-weight: bold;
    color: var(--color-neutral-900);
}

.hunk {
    color: var(--color-blue-800);
}

.ctx {
    color: var(--color-neutral-900);
}

.cpy,
.mov,
.typ,
.stg,
.unk {
    color: var(--color-neutral-900);
}
