/* SPDX-FileCopyrightText: 2026 Nikolay Govorov
 * SPDX-License-Identifier: AGPL-3.0-or-later */

.root[data-unit="minutes"] {
    color: var(--color-green-550);
    font-weight: bold;
}

.root[data-unit="hours"] {
    color: var(--color-green-550);
}

.root[data-unit="days"] {
    color: var(--color-green-900);
}

.root[data-unit="weeks"] {
    color: var(--color-neutral-700);
}

.root[data-unit="months"] {
    color: var(--color-neutral-500);
}

.root[data-unit="years"] {
    color: var(--color-neutral-300);
}
