/* SPDX-FileCopyrightText: 2026 Nikolay Govorov
 * SPDX-License-Identifier: AGPL-3.0-or-later */

.root {
    border-bottom: solid 3px #ccc;
    border-collapse: collapse;
    margin-top: 2em;
    margin-bottom: 0;
    width: 100%;
}

.root td {
    padding: 0 1em;
    vertical-align: bottom;
}

.item {
    padding: 2px 0.75em;
    color: #777;
    font-size: 110%;
}

.active {
    color: #000;
    background-color: #ccc;
}

.root a[href^="http://"]:after,
.root a[href^="https://"]:after {
    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAQAAAAnOwc2AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfgAhcJDQY+gm2TAAAAHWlUWHRDb21tZW50AAAAAABDcmVhdGVkIHdpdGggR0lNUGQuZQcAAABbSURBVAhbY2BABs4MU4CwhYHBh2Erww4wrGFQZHjI8B8IgUIscJWyDHcggltQhI4zGDCcRwhChPggHIggP1QoAVmQkSETrGoHsiAEsACtBYN0oDAMbgU6EBcAAL2eHUt4XUU4AAAAAElFTkSuQmCC);
    opacity: 0.5;
    margin: 0 0 0 5px;
}

.form {
    text-align: right;
}

.form form {
    padding-bottom: 2px;
    font-size: 90%;
    white-space: nowrap;
}

.form input,
.form select {
    font-size: 90%;
}
