# SPDX-FileCopyrightText: 2026 Nikolay Govorov
# SPDX-License-Identifier: AGPL-3.0-or-later

Port 2222
ListenAddress 0.0.0.0
AddressFamily any
HostKey /var/lib/gilti/ssh/ssh_host_ed25519_key
PidFile /run/gilti/ssh/sshd.pid

AllowUsers git
AuthenticationMethods publickey
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitEmptyPasswords no
PermitRootLogin no
StrictModes yes
AuthorizedKeysFile /run/gilti/ssh/authorized_keys
ForceCommand /usr/local/bin/gilti-entrypoint shell
AcceptEnv GIT_PROTOCOL

DisableForwarding yes
AllowAgentForwarding no
AllowTcpForwarding no
GatewayPorts no
PermitTunnel no
PermitTTY no
PermitUserEnvironment no
PermitUserRC no
X11Forwarding no

LogLevel INFO
PrintMotd no
UseDNS no
