/* SPDX-FileCopyrightText: cgit Development Team <cgit@lists.zx2c4.com>
 * SPDX-License-Identifier: GPL-2.0-only
 */

div#gilti {
	padding: 0em;
	margin: 0em;
	font-family: sans-serif;
	font-size: 10pt;
	color: #333;
	background: white;
	padding: 4px;
}

div#gilti a {
	color: blue;
	text-decoration: none;
}

div#gilti a:hover {
	text-decoration: underline;
}

div#gilti table {
	border-collapse: collapse;
}

div#gilti table#header {
	width: 100%;
	margin-bottom: 1em;
}

div#gilti table#header td.logo {
	width: 96px;
	vertical-align: top;
}

div#gilti table#header td.main {
	font-size: 250%;
	padding-left: 10px;
	white-space: nowrap;
}

div#gilti table#header td.main a {
	color: #000;
}

div#gilti table#header td.form {
	text-align: right;
	vertical-align: bottom;
	padding-right: 1em;
	padding-bottom: 2px;
	white-space: nowrap;
}

div#gilti table#header td.form form,
div#gilti table#header td.form input,
div#gilti table#header td.form select {
	font-size: 90%;
}

div#gilti table#header td.sub {
	color: #777;
	border-top: solid 1px #ccc;
	padding-left: 10px;
}

div#gilti table.tabs {
	border-bottom: solid 3px #ccc;
	border-collapse: collapse;
	margin-top: 2em;
	margin-bottom: 0px;
	width: 100%;
}

div#gilti table.tabs td {
	padding: 0px 1em;
	vertical-align: bottom;
}

div#gilti table.tabs td a {
	padding: 2px 0.75em;
	color: #777;
	font-size: 110%;
}

div#gilti table.tabs td a.active {
	color: #000;
	background-color: #ccc;
}

div#gilti table.tabs a[href^="http://"]:after, div#gilti table.tabs a[href^="https://"]:after {
	content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAQAAAAnOwc2AAAAAmJLR0QA/4ePzL8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfgAhcJDQY+gm2TAAAAHWlUWHRDb21tZW50AAAAAABDcmVhdGVkIHdpdGggR0lNUGQuZQcAAABbSURBVAhbY2BABs4MU4CwhYHBh2Erww4wrGFQZHjI8B8IgUIscJWyDHcggltQhI4zGDCcRwhChPggHIggP1QoAVmQkSETrGoHsiAEsACtBYN0oDAMbgU6EBcAAL2eHUt4XUU4AAAAAElFTkSuQmCC);
	opacity: 0.5;
	margin: 0 0 0 5px;
}

div#gilti table.tabs td.form {
	text-align: right;
}

div#gilti table.tabs td.form form {
	padding-bottom: 2px;
	font-size: 90%;
	white-space: nowrap;
}

div#gilti table.tabs td.form input,
div#gilti table.tabs td.form select {
	font-size: 90%;
}

div#gilti div.path {
	margin: 0px;
	padding: 5px 2em 2px 2em;
	color: #000;
	background-color: #eee;
}

div#gilti div.content {
	margin: 0px;
	padding: 2em;
	border-bottom: solid 3px #ccc;
}


div#gilti table.list {
	width: 100%;
	border: none;
	border-collapse: collapse;
}

div#gilti table.list tr {
	background: white;
}

div#gilti table.list tr.logheader {
	background: #eee;
}

div#gilti table.list tr:nth-child(even) {
	background: #f7f7f7;
}

div#gilti table.list tr:nth-child(odd) {
	background: white;
}

div#gilti table.list tr:hover {
	background: #eee;
}

div#gilti table.list tr.nohover {
	background: white;
}

div#gilti table.list tr.nohover:hover {
	background: white;
}

div#gilti table.list tr.nohover-highlight:hover:nth-child(even) {
	background: #f7f7f7;
}

div#gilti table.list tr.nohover-highlight:hover:nth-child(odd) {
	background: white;
}

div#gilti table.list th {
	font-weight: bold;
	/* color: #888;
	border-top: dashed 1px #888;
	border-bottom: dashed 1px #888;
	*/
	padding: 0.1em 0.5em 0.05em 0.5em;
	vertical-align: baseline;
}

div#gilti table.list td {
	border: none;
	padding: 0.1em 0.5em 0.1em 0.5em;
}

div#gilti table.list td.commitgraph {
	font-family: monospace;
	white-space: pre;
}

div#gilti table.list td.commitgraph .column1 {
	color: #a00;
}

div#gilti table.list td.commitgraph .column2 {
	color: #0a0;
}

div#gilti table.list td.commitgraph .column3 {
	color: #aa0;
}

div#gilti table.list td.commitgraph .column4 {
	color: #00a;
}

div#gilti table.list td.commitgraph .column5 {
	color: #a0a;
}

div#gilti table.list td.commitgraph .column6 {
	color: #0aa;
}

div#gilti table.list td.logsubject {
	font-family: monospace;
	font-weight: bold;
}

div#gilti table.list td.logmsg {
	font-family: monospace;
	white-space: pre;
	padding: 0 0.5em;
}

div#gilti table.list td a {
	color: black;
}

div#gilti table.list td a.ls-dir {
	font-weight: bold;
	color: #00f;
}

div#gilti table.list td a:hover {
	color: #00f;
}

div#gilti img {
	border: none;
}

div#gilti input#switch-btn {
	margin: 2px 0px 0px 0px;
}

div#gilti td#sidebar input.txt {
	width: 100%;
	margin: 2px 0px 0px 0px;
}

div#gilti table#grid {
	margin: 0px;
}

div#gilti td#content {
	vertical-align: top;
	padding: 1em 2em 1em 1em;
	border: none;
}

div#gilti div#summary {
	vertical-align: top;
	margin-bottom: 1em;
}

div#gilti div#summary pre {
	margin: 0;
	white-space: pre-wrap;
}

div#gilti table#downloads {
	float: right;
	border-collapse: collapse;
	border: solid 1px #777;
	margin-left: 0.5em;
	margin-bottom: 0.5em;
}

div#gilti table#downloads th {
	background-color: #ccc;
}

div#gilti div#blob {
	border: solid 1px black;
}

div#gilti div.error {
	color: red;
	font-weight: bold;
	margin: 1em 2em;
}

div#gilti a.ls-blob, div#gilti a.ls-dir, div#gilti .ls-mod {
	font-family: monospace;
}

div#gilti td.ls-size {
	text-align: right;
	font-family: monospace;
	width: 10em;
}

div#gilti td.ls-mode {
	font-family: monospace;
	width: 10em;
}

div#gilti table.blob {
	margin-top: 0.5em;
	border-top: solid 1px black;
}

div#gilti table.blob td.hashes,
div#gilti table.blob td.lines {
	margin: 0; padding: 0 0 0 0.5em;
	vertical-align: top;
	color: black;
}

div#gilti table.blob td.linenumbers {
	margin: 0; padding: 0 0.5em 0 0.5em;
	vertical-align: top;
	text-align: right;
	border-right: 1px solid gray;
}

div#gilti table.blob pre {
	padding: 0; margin: 0;
}

div#gilti table.blob td.linenumbers a,
div#gilti table.ssdiff td.lineno a {
	color: gray;
	text-align: right;
	text-decoration: none;
}

div#gilti table.blob td.linenumbers a:hover,
div#gilti table.ssdiff td.lineno a:hover {
	color: black;
}

div#gilti table.blob td.linenumbers a:target:before {
	color: red;
	content: "\2BA9";
}

div#gilti table.blame td.hashes,
div#gilti table.blame td.lines,
div#gilti table.blame td.linenumbers {
	padding: 0;
}

div#gilti table.blame td.hashes div.alt,
div#gilti table.blame td.lines div.alt {
	padding: 0 0.5em 0 0.5em;
}

div#gilti table.blame td.linenumbers div.alt {
	padding: 0 0.5em 0 0;
}

div#gilti table.blame div.alt:nth-child(even) {
	background: #eee;
}

div#gilti table.blame div.alt:nth-child(odd) {
	background: white;
}

div#gilti table.blame td.lines > div {
	position: relative;
}

div#gilti table.blame td.lines > div > pre {
	padding: 0 0 0 0.5em;
	position: absolute;
	top: 0;
}

div#gilti table.blame .oid {
	font-size: 100%;
}

div#gilti table.bin-blob {
	margin-top: 0.5em;
	border: solid 1px black;
}

div#gilti table.bin-blob th {
	font-family: monospace;
	white-space: pre;
	border: solid 1px #777;
	padding: 0.5em 1em;
}

div#gilti table.bin-blob td {
	font-family: monospace;
	white-space: pre;
	border-left: solid 1px #777;
	padding: 0em 1em;
}

div#gilti table.nowrap td {
	white-space: nowrap;
}

div#gilti table.commit-info {
	border-collapse: collapse;
	margin-top: 1.5em;
}

div#gilti div.gilti-panel {
	float: right;
	margin-top: 1.5em;
}

div#gilti div.gilti-panel table {
	border-collapse: collapse;
	border: solid 1px #aaa;
	background-color: #eee;
}

div#gilti div.gilti-panel th {
	text-align: center;
}

div#gilti div.gilti-panel td {
	padding: 0.25em 0.5em;
}

div#gilti div.gilti-panel td.label {
	padding-right: 0.5em;
}

div#gilti div.gilti-panel td.ctrl {
	padding-left: 0.5em;
}

div#gilti table.commit-info th {
	text-align: left;
	font-weight: normal;
	padding: 0.1em 1em 0.1em 0.1em;
	vertical-align: top;
}

div#gilti table.commit-info td {
	font-weight: normal;
	padding: 0.1em 1em 0.1em 0.1em;
}

div#gilti div.commit-subject {
	font-weight: bold;
	font-size: 125%;
	margin: 1.5em 0em 0.5em 0em;
	padding: 0em;
}

div#gilti div.commit-msg {
	white-space: pre;
	font-family: monospace;
}

div#gilti div.notes-header {
	font-weight: bold;
	padding-top: 1.5em;
}

div#gilti div.notes {
	white-space: pre;
	font-family: monospace;
	border: solid 1px #ee9;
	background-color: #ffd;
	padding: 0.3em 2em 0.3em 1em;
	float: left;
}

div#gilti div.notes-footer {
	clear: left;
}

div#gilti div.diffstat-header {
	font-weight: bold;
	padding-top: 1.5em;
}

div#gilti table.diffstat {
	border-collapse: collapse;
	border: solid 1px #aaa;
	background-color: #eee;
}

div#gilti table.diffstat th {
	font-weight: normal;
	text-align: left;
	text-decoration: underline;
	padding: 0.1em 1em 0.1em 0.1em;
	font-size: 100%;
}

div#gilti table.diffstat td {
	padding: 0.2em 0.2em 0.1em 0.1em;
	font-size: 100%;
	border: none;
}

div#gilti table.diffstat td.mode {
	white-space: nowrap;
}

div#gilti table.diffstat td span.modechange {
	padding-left: 1em;
	color: red;
}

div#gilti table.diffstat td.add a {
	color: green;
}

div#gilti table.diffstat td.del a {
	color: red;
}

div#gilti table.diffstat td.upd a {
	color: blue;
}

div#gilti table.diffstat td.graph {
	width: 500px;
	vertical-align: middle;
}

div#gilti table.diffstat td.graph table {
	border: none;
}

div#gilti table.diffstat td.graph td {
	padding: 0px;
	border: 0px;
	height: 7pt;
}

div#gilti table.diffstat td.graph td.add {
	background-color: #5c5;
}

div#gilti table.diffstat td.graph td.rem {
	background-color: #c55;
}

div#gilti div.diffstat-summary {
	color: #888;
	padding-top: 0.5em;
}

div#gilti table.diff {
	width: 100%;
}

div#gilti table.diff td {
	font-family: monospace;
	white-space: pre;
}

div#gilti table.diff td div.head {
	font-weight: bold;
	margin-top: 1em;
	color: black;
}

div#gilti table.diff td div.hunk {
	color: #009;
}

div#gilti table.diff td div.add {
	color: green;
}

div#gilti table.diff td div.del {
	color: red;
}

div#gilti .oid {
	font-family: monospace;
	font-size: 90%;
}

div#gilti .left {
	text-align: left;
}

div#gilti .right {
	text-align: right;
}

div#gilti table.list td.reposection {
	font-style: italic;
	color: #888;
}

div#gilti a.button {
	font-size: 80%;
	padding: 0em 0.5em;
}

div#gilti a.primary {
	font-size: 100%;
}

div#gilti a.secondary {
	font-size: 90%;
}

div#gilti td.toplevel-repo {

}

div#gilti table.list td.sublevel-repo {
	padding-left: 1.5em;
}

div#gilti ul.pager {
	list-style-type: none;
	text-align: center;
	margin: 1em 0em 0em 0em;
	padding: 0;
}

div#gilti ul.pager li {
	display: inline-block;
	margin: 0.25em 0.5em;
}

div#gilti ul.pager a {
	color: #777;
}

div#gilti ul.pager .current {
	font-weight: bold;
}

div#gilti span.age-mins {
	font-weight: bold;
	color: #080;
}

div#gilti span.age-hours {
	color: #080;
}

div#gilti span.age-days {
	color: #040;
}

div#gilti span.age-weeks {
	color: #444;
}

div#gilti span.age-months {
	color: #888;
}

div#gilti span.age-years {
	color: #bbb;
}

div#gilti span.insertions {
	color: #080;
}

div#gilti span.deletions {
	color: #800;
}

div#gilti div.footer {
	margin-top: 0.5em;
	text-align: center;
	font-size: 80%;
	color: #ccc;
}

div#gilti div.footer a {
	color: #ccc;
	text-decoration: none;
}

div#gilti div.footer a:hover {
	text-decoration: underline;
}

div#gilti a.branch-deco {
	color: #000;
	margin: 0px 0.5em;
	padding: 0px 0.25em;
	background-color: #88ff88;
	border: solid 1px #007700;
	border-radius: 2px;
}

div#gilti a.tag-deco {
	color: #000;
	margin: 0px 0.5em;
	padding: 0px 0.25em;
	background-color: #ffff88;
	border: solid 1px #777700;
	border-radius: 2px;
}

div#gilti a.tag-annotated-deco {
	color: #000;
	margin: 0px 0.5em;
	padding: 0px 0.25em;
	background-color: #ffcc88;
	border: solid 1px #777700;
	border-radius: 2px;
}

div#gilti a.remote-deco {
	color: #000;
	margin: 0px 0.5em;
	padding: 0px 0.25em;
	background-color: #ccccff;
	border: solid 1px #000077;
	border-radius: 2px;
}

div#gilti a.deco {
	color: #000;
	margin: 0px 0.5em;
	padding: 0px 0.25em;
	background-color: #ff8888;
	border: solid 1px #770000;
	border-radius: 2px;
}

div#gilti div.commit-subject a.branch-deco,
div#gilti div.commit-subject a.tag-deco,
div#gilti div.commit-subject a.tag-annotated-deco,
div#gilti div.commit-subject a.remote-deco,
div#gilti div.commit-subject a.deco {
	margin-left: 1em;
	font-size: 75%;
}

div#gilti table.stats {
	border: solid 1px black;
	border-collapse: collapse;
}

div#gilti table.stats th {
	text-align: left;
	padding: 1px 0.5em;
	background-color: #eee;
	border: solid 1px black;
}

div#gilti table.stats td {
	text-align: right;
	padding: 1px 0.5em;
	border: solid 1px black;
}

div#gilti table.stats td.total {
	font-weight: bold;
	text-align: left;
}

div#gilti table.stats td.sum {
	color: #c00;
	font-weight: bold;
/*	background-color: #eee; */
}

div#gilti table.stats td.left {
	text-align: left;
}

div#gilti table.vgraph {
	border-collapse: separate;
	border: solid 1px black;
	height: 200px;
}

div#gilti table.vgraph th {
	background-color: #eee;
	font-weight: bold;
	border: solid 1px white;
	padding: 1px 0.5em;
}

div#gilti table.vgraph td {
	vertical-align: bottom;
	padding: 0px 10px;
}

div#gilti table.vgraph div.bar {
	background-color: #eee;
}

div#gilti table.hgraph {
	border: solid 1px black;
	width: 800px;
}

div#gilti table.hgraph th {
	background-color: #eee;
	font-weight: bold;
	border: solid 1px black;
	padding: 1px 0.5em;
}

div#gilti table.hgraph td {
	vertical-align: middle;
	padding: 2px 2px;
}

div#gilti table.hgraph div.bar {
	background-color: #eee;
	height: 1em;
}

div#gilti table.ssdiff {
	width: 100%;
}

div#gilti table.ssdiff td {
	font-size: 75%;
	font-family: monospace;
	white-space: pre;
	padding: 1px 4px 1px 4px;
	border-left: solid 1px #aaa;
	border-right: solid 1px #aaa;
}

div#gilti table.ssdiff td.add {
	color: black;
	background: #cfc;
	min-width: 50%;
}

div#gilti table.ssdiff td.add_dark {
	color: black;
	background: #aca;
	min-width: 50%;
}

div#gilti table.ssdiff span.add {
	background: #cfc;
	font-weight: bold;
}

div#gilti table.ssdiff td.del {
	color: black;
	background: #fcc;
	min-width: 50%;
}

div#gilti table.ssdiff td.del_dark {
	color: black;
	background: #caa;
	min-width: 50%;
}

div#gilti table.ssdiff span.del {
	background: #fcc;
	font-weight: bold;
}

div#gilti table.ssdiff td.changed {
	color: black;
	background: #ffc;
	min-width: 50%;
}

div#gilti table.ssdiff td.changed_dark {
	color: black;
	background: #cca;
	min-width: 50%;
}

div#gilti table.ssdiff td.lineno {
	color: black;
	background: #eee;
	text-align: right;
	width: 3em;
	min-width: 3em;
}

div#gilti table.ssdiff td.hunk {
	color: black;
	background: #ccf;
	border-top: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
}

div#gilti table.ssdiff td.head {
	border-top: solid 1px #aaa;
	border-bottom: solid 1px #aaa;
}

div#gilti table.ssdiff td.head div.head {
	font-weight: bold;
	color: black;
}

div#gilti table.ssdiff td.foot {
	border-top: solid 1px #aaa;
	border-left: none;
	border-right: none;
	border-bottom: none;
}

div#gilti table.ssdiff td.space {
	border: none;
}

div#gilti table.ssdiff td.space div {
	min-height: 3em;
}
