/* SPDX-FileCopyrightText: 2026 Nikolay Govorov
 * SPDX-License-Identifier: AGPL-3.0-or-later */

.path {
    margin: 0;
    padding: 0 2em;
    color: var(--color-neutral-900);
    background: var(--color-neutral-100);
}

.error {
    color: var(--color-red-500);
    font-weight: bold;
    margin: 0 2em;
}

.oid {
    font-family: var(--font-family-mono);
    font-size: 90%;
}
