/* SPDX-FileCopyrightText: 2026 Nikolay Govorov
 * SPDX-License-Identifier: AGPL-3.0-or-later */

.path {
    margin: 0;
    padding: 0 2em;
    color: var(--color-neutral-900);
    background: var(--color-neutral-100);
}

.pager {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.pager li {
    display: inline-block;
    margin: 0 .5em;
}

.pager li::before {
    content: none;
}

.pager a {
    color: var(--color-neutral-600);
}
