/* SPDX-FileCopyrightText: 2026 Nikolay Govorov
 * SPDX-License-Identifier: AGPL-3.0-or-later */

.clone {
    padding-block-start: 1em;
}

.clone-title {
    font-size: inherit;
}

.clone-list {
    padding-inline-start: 1.5em;
}

.error {
    color: var(--color-red-500);
    font-weight: bold;
    margin: 0 2em;
}
