/* SPDX-FileCopyrightText: 2026 Nikolay Govorov
 * SPDX-License-Identifier: AGPL-3.0-or-later */

.subject {
    margin: 1.5em 0 .5em;
    font-size: 125%;
    font-weight: bold;
}

.message {
    white-space: pre;
    font-family: monospace;
}

.info {
    margin-top: 1.5em;
}

.oid {
    font-family: monospace;
    font-size: 90%;
}
