/* SPDX-FileCopyrightText: 2026 Nikolay Govorov
 * SPDX-License-Identifier: AGPL-3.0-or-later */

.subject {
    margin: 1em 0 0.5em;
    font-size: 125%;
    font-weight: bold;
}

.message {
    white-space: pre;
    font-family: var(--font-family-mono);
}

.oid {
    font-family: var(--font-family-mono);
    font-size: 90%;
}
