/* SPDX-FileCopyrightText: 2026 Nikolay Govorov
 * SPDX-License-Identifier: AGPL-3.0-or-later */

.path {
    margin: 0;
    padding: 0 2em;
    color: var(--color-neutral-900);
    background: var(--color-neutral-100);
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.ls-blob,
.ls-dir,
.ls-mod,
.ls-mode,
.ls-size,
.hex {
    font-family: var(--font-family-mono);
}

.ls-dir {
    font-weight: bold;
    color: var(--color-blue-500);
}

.ls-size,
.ls-mode {
    width: 10em;
}

.ls-size {
    text-align: right;
}

.bin-blob {
    border: solid 1px var(--color-neutral-900);
}

.bin-blob th {
    font-family: var(--font-family-mono);
    white-space: pre;
    border: solid 1px var(--color-neutral-600);
    padding: .5em 1em;
}

.bin-blob td {
    font-family: var(--font-family-mono);
    white-space: pre;
    border-left: solid 1px var(--color-neutral-600);
    padding: 0 1em;
}
